<table class="table table-bordered">
    <thead>
        <tr>
            <th>Datum / Zeit</th>
            <th>Dauer</th>
            <th>Kommentar</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="time in times | orderBy:'dateTo':'asc'">
            <td>{{time.dateFrom | date:'dd.MM.yyyy - hh:mm:ss'}} - {{time.dateTo | date:'dd.MM.yyyy - hh:mm:ss'}}</td>
            <td>{{time.duration.days}}T {{time.duration.hours}}S {{time.duration.minutes}} M {{time.duration.seconds}} s</td>
            <td>{{time.comment}}</td>
            <td><a href="javascript:void(0);" ng-click="deleteTime(time)"><i class="icon-trash"></i></button></td>
        </tr>
    </tbody>
</table>